.subscribe{
    background-image: url(../../assets/images/sub-form-bg.jpg);
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
}

.subscribe .sub-content {
    width: 100%;
}

.sub-form {
    max-width: 600px;
    margin: auto;
    
}

.sub-form input {
    height: 44px;
    width: 100%;
    margin: 10px 0;
    border-radius: 22px;
    font-size: 1.2em;
    outline: none;
}   

.sub-form input[type="email"] {
    border: 1px solid rgba(1, 116, 143, 0.7);
    padding: 0 20px;
    color: #444;
    background-color: rgba(255, 255, 255, 0.7);
    transition: all 0.6s;
}

.sub-form input[type="email"]:focus{
    border: 1px solid #E77300;
}

.sub-form input[type="email"]:focus + input[type="submit"] {
    background-color: #00ad2d;
}

.sub-form input[type="submit"] {
    background-color: #E77300;
    border: none;
    color: #fff;
    cursor: pointer;
}


@media (min-width:768px){
    .subscribe{
        background-position: left -100px;
        height: 600px;
    }
}