.btn {
    height: 44px;
    padding: 0 24px;
    color: #e77300;
    border: 2px solid #e77300;
    border-radius: 22px;
    display: flex;
    width: max-content;
    align-items: center;
    transition: all .6s;
}

.btn:hover {
    background-color: #e77300;
    color: #fff;
}

.link {
    display: block;
    font-size: 1.2em;
    color: #01748f;
    text-decoration: underline;
    text-align: center;
}

.link:hover {
    text-decoration: none;
}
.section-title {
    text-align: center;
    margin-bottom: 20px;
    color: #04748f;
    font-weight: 400;
}

.section-subtitle {
    text-align: center;
    margin-bottom: 1em;
}

.section-note {
    color: #afafaf;
    text-align: center;
    font-style: italic;
    margin: 10px 0;
}

.box-shadow, .box-shadow-hover:hover {
    box-shadow: 0 52px 80px 0 rgba(0,36,73,0.1);
}

.border-light, .border-light-hover:hover {
    border: 1px solid rgb(234, 234, 234);
}

.burger-icon .burger-line {
    width: 32px;
    height: 4px;
    background-color: #fff;
    margin: 6px 0;
    border-radius: 2px;
}

figcaption {
    text-align: center;
    font-size: 0.9em;
    color: #afafaf;
    padding: 0 0.6em;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-around-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}